<ion-header>
  <ion-toolbar class="toolbar-fondo">
    <ion-title class="titulo-centrado" routerLink="/tabs">POWER CLEAN</ion-title> 
    <ion-buttons slot="start">
      <ion-button routerLink="/perfil">
        <ion-icon class="perfil" slot="icon-only" name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-secundario">Detalles de pago</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding"><br>
  <img class="imagen" src="assets/imgs/tarjeta.jpeg" alt="Tarjeta de crédito" />
  <ion-item class="texto">
    <h6>Aqui podras ingresar los detalles de tu tarjeta para poder comprar los productos que tienes en tu carrito.</h6>
  </ion-item>
  <br>
  <div class="paypal" id="paypal-button-container"></div>
</ion-content>
