<ion-header>
  <ion-toolbar class="toolbar-fondo">
    <ion-title class="titulo-centrado" routerLink="/tabs">POWER CLEAN</ion-title> 
    <ion-buttons slot="start">
      <ion-button routerLink="/perfil">
        <ion-icon class="perfil" slot="icon-only" name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-secundario">Detalles de pago</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2>Detalles de envio</h2>
  <ion-item>
    <ion-icon aria-hidden="true" name="location-outline" slot="start"></ion-icon>
    <ion-label>
      <h2>Dirección</h2>
      <p>{{ user.direccion || 'No tiene ninguna dirección asignada, favor de agregar una en el apartado de perfil' }}</p>
    </ion-label>
  </ion-item><br>
  <ion-button routerLink="/perfil" class="boton">modificar dirección
    <ion-icon class="icono" name="brush"></ion-icon>
  </ion-button><br>
  <h2 class="ion-text-center">Resumen de la Compra</h2>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-label>
        <h3>{{ item.nombre }}</h3>
        <p>${{ item.preciomenudeo }} x {{ item.cantidad }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
    <p><strong>Total: ${{ total.toFixed(2) }}</strong></p>
  </div>
  <div id="paypal-button-container"></div>
</ion-content>
