ion-card {
    height: 380px; /* Ajusta la altura según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #efefef;
}

ion-card-content {
    flex: 1;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Muestra hasta 2 líneas */
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    color: #000000;
}

h6 {
    color: #023E8A;
}

ion-item {
    --background: #efefef; /* Cambia el color de fondo aquí */
}