<ion-col (click)="openModal()">
  <ion-card>
    <img [src]="imagen" alt="{{producname}}" />
    <ion-card-content>
      <h2>{{producname}}</h2>
      <p>{{descripcion}}</p>
      <p>
        <ion-icon class="estrellas" name="star"></ion-icon>
        <ion-icon class="estrellas" name="star"></ion-icon>
        <ion-icon class="estrellas" name="star"></ion-icon>
        <ion-icon class="estrellas" name="star"></ion-icon>
        <ion-icon class="estrellas" name="star-half"></ion-icon>
      </p>
      <h1>$ {{precio}}</h1>
        <ion-button class="boton" (click)="addToCart($event)">
          <ion-icon class="icon-boton" name="cart"></ion-icon>
        </ion-button>
    </ion-card-content>
  </ion-card>
</ion-col>