<ion-header>
  <ion-toolbar class="toolbar-fondo">
    <ion-title class="titulo-centrado" routerLink="/tabs">POWER CLEAN</ion-title> 
    <ion-buttons slot="start">
      <ion-button routerLink="/perfil">
        <ion-icon class="perfil" slot="icon-only" name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="envios-historial-container">
  <ion-list>

    <ion-card class="purchase-card">
      <ion-card-header>
        <ion-card-subtitle>Fecha: 10/03/2025</ion-card-subtitle>
        <ion-card-title>Compra #12343</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>
            <h3>Resumen de productos</h3>
            <p>Jabón líquido (1L) - 4 unidades</p>
          </ion-label>
        </ion-item>
        <ion-chip [color]="getStatusColor('en tienda')">
          <ion-label>En tienda</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>

    <ion-card class="purchase-card">
      <ion-card-header>
        <ion-card-subtitle>Fecha: 15/03/2025</ion-card-subtitle>
        <ion-card-title>Compra #12344</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>
            <h3>Resumen de productos</h3>
            <p>Cloro (5L) - 1 unidad</p>
            <p>Desinfectante (500ml) - 3 unidades</p>
          </ion-label>
        </ion-item>
        <ion-chip [color]="getStatusColor('en camino')">
          <ion-label>En camino</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>

    <ion-card class="purchase-card">
      <ion-card-header>
        <ion-card-subtitle>Fecha: 20/03/2025</ion-card-subtitle>
        <ion-card-title>Compra #12345</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>
            <h3>Resumen de productos</h3>
            <p>Cloro (2L) - 2 unidades</p>
            <p>Detergente líquido (1L) - 1 unidad</p>
          </ion-label>
        </ion-item>
        <ion-chip [color]="getStatusColor('entregado')">
          <ion-label>Entregado</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
    
  </ion-list>
</ion-content>