ion-title{
    color: #023E8A;
    font-weight: bold;
    text-align: center;
}

app-card{
    width: 50%;
}

ion-icon{
    color: #023E8A;
}

img{
    width: 95%;
    display: block;
    margin: 0 auto;
}

.h1-editado{
    color: #023E8A;
    font-weight: bold;
    text-align: center;
}

.div-valores {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
}

.div-horarios {
    width: 90%;
    margin: 0 auto;
}

.logo{
    width: 170px;
}

iframe {
    display: block;
    margin: 0 auto;
}