.titulo-centrado {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.toolbar-fondo {
  background: url('/assets/imgs/toolbar.jpeg') no-repeat center center;
  background-size: cover;
  backdrop-filter: none !important; // Desactiva cualquier filtro
  --background: transparent !important; // Evita que se superponga otro fondo
}

ion-searchbar{
    --background: #4a827e5e;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    --border-radius: 25px ;
    --overflow: hidden ;
}

.perfil{
  color: #d6d6d6;
}

ion-icon{
    color: #4A827E;
}

.imagen-home{
    width: 95%;
    display: block;
    margin: 0 auto;
}

.imagen-container {
    width: 200%;
    margin-top: 8px;
}

.h1-editado{
    color: #4A827E;
    font-weight: bold;
    text-align: center;
}

.div-valores {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
}

.div-horarios {
    width: 90%;
    margin: 0 auto;
}

.logo{
    width: 170px;
}

iframe {
    display: block;
    margin: 0 auto;
}

.boton{
    width: 80%;
    height: 45px;
    display: block;
    margin: 0 auto;
    border-radius: 25px; /* Ajusta este valor para controlar el redondeo */
    overflow: hidden; /* Asegura que el contenido interno también se ajuste al redondeo */
    text-align: center;
    color: #ffffff;
}

.icon-boton{
    color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
}

.carta{
    width: 100%;
    background-color: #e5e5e5;
    border-radius: 10px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5px;
  }

  .titulo{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Muestra hasta 2 líneas */
    line-clamp: 2; /* Muestra hasta 2 líneas */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .descripcion{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Muestra hasta 2 líneas */
    line-clamp: 2; /* Muestra hasta 2 líneas */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .precio{
    font-size: 22px;
    color: #4a827e;
    font-weight: bold;
  }

  .estrellas{
    color: #4A827E;
    margin: 0px;
}

.imagen-producto{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.boton2{
    width: 90%;
    height: 39px;
    display: block;
    margin: 0 auto;
    border-radius: 15px; /* Ajusta este valor para controlar el redondeo */
    overflow: hidden; /* Asegura que el contenido interno también se ajuste al redondeo */
    text-align: center;
    color: #ffffff;
}

.product-card {
    cursor: pointer;
    transition: transform 0.2s;
  
    &:hover {
      transform: scale(1.05);
    }

  }