<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="cart.length > 0; else emptyCart">
    <ion-item *ngFor="let item of cart">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <h3>$ {{ item.price }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #emptyCart>
    <ion-item>
      <ion-label>No hay productos en el carrito.</ion-label>
    </ion-item>
  </ng-template>

  <ion-button expand="full" color="secondary" (click)="confirmClearCart()">Vaciar Carrito</ion-button>
</ion-content>
<ion-toolbar>
  <ion-button expand="full" color="primary" (click)="goToCheckout()">Realizar Compra</ion-button>
</ion-toolbar>