<ion-header>
  <ion-toolbar class="toolbar-fondo">
    <ion-title class="titulo-centrado" routerLink="/tabs">POWER CLEAN</ion-title> 
    <ion-buttons slot="start">
      <ion-button routerLink="/perfil">
        <ion-icon class="perfil" slot="icon-only" name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-content [fullscreen]="true" class="ion-padding">
    <div *ngIf="cartItems.length === 0" class="ion-text-center">
      <p>Tu carrito está vacío.</p>
    </div>
  
    <ion-list *ngIf="cartItems.length > 0">
      <ion-item *ngFor="let item of cartItems">
        <ion-thumbnail slot="start">
          <img class="imagen-producto" [src]="item.image_url" alt="{{ item.nombre }}" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.nombre }}</h2>
          <p>${{ item.preciomenudeo }} x {{ item.cantidad }}</p>
        </ion-label>
        <div>
          <section class="sec-cantidad">
            <ion-button class="mas-menos" slot="end" fill="clear" (click)="decreaseQuantity(item)">-</ion-button>
            <p class="cantidad">{{ item.cantidad }}</p>
            <ion-button class="mas-menos" slot="end" fill="clear" (click)="increaseQuantity(item)">+</ion-button>
        </section>
        </div>
      </ion-item>
    </ion-list>
  
    <div *ngIf="cartItems.length > 0" class="ion-text-center">
      <p>Total: ${{ getTotal() }}</p>
      <ion-button class="boton" color="primary" [disabled]="cartItems.length === 0" (click)="clearCart()">
        <p>Vaciar Carrito</p>
      </ion-button>
    </div>
  </ion-content>