<ion-header>
  <ion-toolbar class="toolbar-fondo">
    <ion-title class="titulo-centrado">POWER CLEAN</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login">
          <h1>Bienvenido!</h1><br>
          <p>Ingresa tus datos para iniciar sesión</p><br><br>
          <ion-input [(ngModel)]="email" name="email" label="Email" label-placement="floating" fill="outline" placeholder="Ingresa tu email" type="email">
            <ion-icon name="person-outline" slot="start"></ion-icon>
          </ion-input>
          <br>
          <ion-input [(ngModel)]="password" name="password" label="Password" label-placement="floating" fill="outline" placeholder="Ingresa tu contraseña" type="password">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          </ion-input><br>
          <button class="button login__submit" (click)="login1()">
            <span class="button__text">Iniciar sesión</span>
            <ion-icon class="button__icon" name="chevron-forward-sharp" size="large"></ion-icon>
          </button>        
        </form><br>
        <div class="links"><br><br>
          <a href="/registro" class="link">¿No tienes cuenta? Regístrate</a>
        </div>
        <ion-button expand="full" (click)="login()">Iniciar sesión con Google</ion-button>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>    
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>    
    </div>
  </div>
</ion-content>
