<ion-header>
  <ion-toolbar class="toolbar-fondo">
    <ion-title class="titulo-centrado">POWER CLEAN</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form (ngSubmit)="onSubmit()" class="login">
          <h1>Crear Cuenta</h1><br>
          <p>Ingresa tus datos para <br> registrarte</p><br>

          <ion-input [(ngModel)]="name" name="name" label="Nombre (s)" label-placement="floating" fill="outline" placeholder="Nombre (s)" type="name">
            <ion-icon name="person-outline" slot="start"></ion-icon>
          </ion-input><br>

          <ion-input [(ngModel)]="email" name="email" label="Email" label-placement="floating" fill="outline" placeholder="Ingresa tu email" type="Nombre">
            <ion-icon name="person-outline" slot="start"></ion-icon>
          </ion-input><br>

          <ion-input [(ngModel)]="password" name="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa tu contraseña" type="password">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          </ion-input><br>


          <button class="button login__submit" type="submit" expand="block" [disabled]="!name || !email || !password">
            <span class="button__text">Registrarse</span>
            <ion-icon class="button__icon" name="person-add-outline" size="large"></ion-icon>
          </button>  
          
          <ion-text color="danger" *ngIf="errorMessage">
            {{ errorMessage }}
          </ion-text>
      
          <ion-text color="success" *ngIf="successMessage">
            {{ successMessage }}
          </ion-text>
          
        </form><br>
        
        <div class="links"> 
          <a href="/inicio-sesion" class="link">¿Ya tienes cuenta? Inicia sesión</a>
        </div>
      </div>
      
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>    
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>    
    </div>
  </div>
</ion-content>
